<div data-controller="toggle" data-action="click->toggle#toggle" data-toggle-css-class="active" class="columns slideout-example">
  <div class="column">
    <div class="">
    <ol>
      <li><a href="#1">Example link</a></li>
      <li><a href="#2">Example link</a></li>
      <li><a href="#3">Example link</a></li>
      <li><a href="#4">Example link</a></li>
      <li><a href="https://lee.sheppard.io">Tech Blog</a></li>
      <li><a href="https://www.leesheppard.com">Lee Sheppard</a></li>
      </ol>
    </div>
  </div>
  <div class="column">
    <i class="fa-regular fa-chevrons-right"></i>
  </div>
</div>