<div data-controller="toggle" data-action="click->toggle#toggle" data-toggle-css-class="active" class="columns slideout-example">
  <div class="column">
    <div class=""></div>
  </div>
  <div class="column">
    <i class="fa-regular fa-chevrons-right"></i>
  </div>
</div>